#outputDisplay {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 80px;
  background-color: #f0f0f0;
}
.giveATry {
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
}
.winnerNameList {
  text-align: left;
}
/* For most modern browsers */
body {
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  box-sizing: border-box;
  padding: 30px;
}

/* Hide scrollbar in WebKit-based browsers like Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}
